[submodule "agent-orchestrator-daemon"]
	path = agent-orchestrator-daemon
	url = file:///tmp/agent-orchestrator-daemon
[submodule "web"]
	path = web
	url = git@github.com:AgentOrchestrator/agent-orchestrator-web.git
